.categoryName {
    font-size: 42px;
    padding: 20px 40px;
    text-transform: capitalize;
}

.elements {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}